.list-links {
    text-align: center;
    margin: auto;
    padding: 0;
    list-style-type: none;
    font-size: 1.1em;
    font-family: 'Roboto Condensed', sans-serif;
}
.list-links li {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: 100%;
    margin: 5px auto;
    padding: 20px 0;
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgb(208, 245, 247), rgba(255, 255, 255, 0));
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(78, 160, 255), rgba(255, 255, 255, 0));
    color: black;
}
.list-links li:hover {
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgb(206, 218, 218), rgba(255, 255, 255, 0));
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(206, 218, 218), rgba(255, 255, 255, 0));
}
.list-links a,
.list-links a:active,
.list-links a:active:visited {
    color: white;
    text-decoration: none;
}
#section-container {
    width: 100%;
}
#section-content {
    padding: 3% 10%;
}